*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'outfit';
    background: linear-gradient(135deg, #e01e37,#f5f3f4 );
}
.contact-container{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: #e01e37;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #e01e37;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width:400px;
    height:50px;
    border:none;
    outline:none;
    padding-left:25px;
    font-weight:500;
    color:#666;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border:2px solid #e01e37; 
}
.contact-inputs::placeholder{
    color:black;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color:aliceblue;
    gap: 10px;
    border:none;
    border-radius: 50px;
    background: #e01e37;
    cursor:pointer;
}

.contact-right img{
    width: 300px;
    height: 400px;
}

footer{
    background-color: black;
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialicons{
    display: flex;
    justify-content: center;

}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialicons a:hover{
    background-color: black;
    transition: 0.5s;
}
.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: nonedisc;
}
.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity:0.7;
    transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 1;
}
.footerbottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: #f5f3f4;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}
@media (max-width:800px){
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}
@media(max-width: 700px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}


