@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font-color:#e01e37;
    --main-color:#e01e38bc;
    --main-bg:rgb(248, 249, 250);
    --sec-bg:rgb(245, 243, 244);
    --border:.1rem solid rgba(255,255,255,.3);
    --sec-color:rgb(173, 181, 189) ;
    


}
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    border:none ;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top:9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--sec-color);
    border-radius: 5rem;
}
body{
    background: var(--main-bg);
}
.section{
    padding: 2rem 7%;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: var(--main-color);
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .1rem;
}
/******************************************************************HEADER******************************************************************/
.header {
    background: var(--main-bg);
    display:  flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    height: 2.2cm;
    padding: 4rem 8rem;
    
}
.header .logo img {
    /*width: 230px;
    margin-bottom: 1px;
    margin-left: -50px; */
    height: 9em;
    width: 18rem;
}

/*.header .navbar {
    margin-left: -100px; /* Adjusted margin-left to align navbar with the logo */
/*}**/

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.9rem;
    color: black;
}

.header .navbar a:hover {
    color: var(--font-color);
    border-bottom: .1rem solid var(--font-color) ;
    padding-bottom: .5rem;
}
.header .icons div{
    color: black;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
    
}

.header .icons div:hover {
    color: var(--font-color);
}

/*.header .icons {
    display: inline-block;
    align-items: center;
    background-color:  rgba(224, 30, 56, 0.656);
    border-radius: 3rem;
    box-shadow:  rgb(245, 243, 244) 0px 1px 10px;
    padding: 5px;
    
}*/

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: var(--main-bg);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.search-form.active {
    transform: scaleY(1);
}

.search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.search-form label:hover {
    color: var(--font-color);
}

/*.search-form .fas.fa-search {
    padding-left: 8px;
}*/

.cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(110vh - 9.5rem);
    width: 35rem;
    background: var(--sec-bg);
    padding: 0 1.5rem;
}

.cart-items-container.active {
    right: 0;
}

.cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    /*padding: 1rem;*/
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: black;
   /* margin-right: 1rem;*/
}

.cart-items-container .cart-item .fa-times:hover {
    color: var(--font-color);
}

.cart-items-container .cart-item img {
    height: 7rem;
    width: 9rem;
}

.cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: black;
    padding-bottom: .5rem;
}

.cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--font-color);
}

.cart-items-container .btn {
    width: 100%;
    text-align: center;
   /* width: 92%;
    height: 2%;
    text-align: center;
    padding: 1rem;
    line-height: 0.6rem;
    font-size: 1.3rem;*/
    
}
/*header*/
/***********************************************************************home*********************************************************************/
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(pic/home.png) no-repeat;
    background-size:cover;
    background-position: center;
    background-color:rgb(245, 243, 244) ;
}

.home .content{
    max-width: 60rem;
    /*padding-left: 0.01rem;
    padding-top: 0.8cm;*/
}

.home .content h3{
    padding-left: 0.5cm;
    font-size: 5rem;
    text-transform: capitalize;
    color: black; 
    margin-top: 4cm;
    margin-bottom: 0.5rem;
    /*font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;*/
}
.home .content p{
    margin-left: 0.5cm;
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.5;
    padding: 1rem 0;
    color: rgb(90, 90, 90);
    margin-bottom: 1rem;
    
}

.home .content .btn {
    padding: 0.8rem 1.3rem; 
    font-size: 1.5rem;
    margin-top: 3rem;
    background-color: #e01e38bc;
    border-radius: 3rem;
    text-decoration: none;
    color: white;
    margin-left: 0.5cm;
    

}
/*home*/
/*******************************************************************chef*************************************************************************/
.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; 
    padding-top: 3rem;
}


.chef{
    
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white ;
    
}

.slide-container{
    padding: 20px 0;
    max-width: 1120px;
    width: 100%;
   
    
}
.slide-content{
   
    margin: 0 40px;
    background-color: white;
    overflow: hidden;
    border-radius: 25px;
    

}
.card{
    
    height: 450px;
    border-radius: 25px;  
    row-gap: 0.1cm;  
    background-color: rgb(245, 243, 244);
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
   
    
    
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
   
    
}
.ovrelay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(224, 30, 56, 0.737);
    border-radius: 25px 25px 0 25px;
}
.ovrelay::before,
.ovrelay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color:rgba(224, 30, 56, 0.737);
}
.ovrelay::after{
   border-radius: 0 25px 0 0;
   background-color: rgb(245, 243, 244);
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #e01e38bc;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid rgb(245, 243, 244);
    
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: black;
}
.description{
    font-size: 14px;
    color: black;
    text-align: center;
}
.chefbtn{
    border: none;
    font-size: 16px;
    color: white;
    background-color:  rgba(224, 30, 56, 0.737);
    padding: 8px 16px;
    border-radius:6px ;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.chefbtn:hover{
    background: gainsboro;
}
.swiper-pagination-bullet{
    background-color:  rgba(224, 30, 56, 0.737);
    opacity: 1;
}


footer{
    background-color: black;
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialicons{
    display: flex;
    justify-content: center;

}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialicons a:hover{
    background-color: black;
    transition: 0.5s;
}
.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: nonedisc;
}
.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity:0.7;
    transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 1;
}
.footerbottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: #f5f3f4;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}




/********************************************************** Media queries *********************************************************************/

@media (max-width:991px){

    html{
        font-size:55% ;

    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem  ;
    }
    .home .content h3{
        font-size: 3.3rem;
    }
    .home .content p{
        font-size: 1.4rem; 
    }
}
/*@media (max-width:1180px){

  
    .home .content h3{
        font-size: 3.3 rem;
    }
    .home .content p{
        font-size: 1.4rem; 
    }
  
}*/

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: var(--sec-bg);
        width: 35rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .search-form {
        width: 90%;
        right: 2rem;
    }
    
}
@media (max-width: 768px){
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }

}
@media (max-width:450px){

    html{
        font-size:50% ;

    }
    /*.header{
        padding: 1.5rem 2rem;
    }*/
}

@media screen and (max-width:768px){

    .slide-content{
        margin: 0 10px ;
    }
   
}
@media(max-width: 700px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}